@model LysisBI.Models.Services.UsuarioServices

@{
    ViewBag.Title = "Index";
    Layout = null;
}


<!DOCTYPE HTML>
<html>
<head>
    <title>I'm Here!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/Content/login/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="~/Content/login/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

 
    <div id="wrapper" class="divided">


        <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
            <div class="content">
               
                <h2>I'm Here!</h2>
                

                @using (Html.BeginForm())

                {
                <div class="fields">
                    <div class="field half">
                        @Html.TextBoxFor(m => m.UsuarioDigitado, new { @class = "field half", @placeholder = "Usuário" })
                        <br />
                   
                        @Html.TextBoxFor(m => m.SenhaDigitada, new { @class = "field halfl", @placeholder = "Senha", type = "password" })

                    </div>
                </div>
                
                    <ul class="actions stacked">
                        <li><input type="submit" value="OK" class="button big wide smooth-scroll-middle" /> </li>
                    </ul>
                    }

                </div>
                    <div class="image">
                        <img src="~/Content/login/images/banner.jpg" />
                    </div>

</section>
    </div>


    <!-- Scripts -->
    <script src="~/Content/login/assets/js/jquery.min.js"></script>
    <script src="~/Content/login/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/Content/login/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/Content/login/assets/js/browser.min.js"></script>
    <script src="~/Content/login/assets/js/breakpoints.min.js"></script>
    <script src="~/Content/login/assets/js/util.js"></script>
    <script src="~/Content/login/assets/js/main.js"></script>
  
</body>
</html>





